@use '../utilities/' as *;

.cards-content {
  margin-top: rem(48px);
  @include media-query(md) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.card-valores {
  width: 90%;
  padding: rem(24px) rem(16px);
  box-shadow: 0 0 24px rgba(#2E3191, .1);
  margin: 0 auto;
  margin-bottom: rem(48px);
  &:last-child {
    // margin-bottom: 0;
  }
  &__icon {
    img {
      display: block;
      width: 120px;
      height: auto;
      margin: 0 auto;
    }
  }
  &__title {
    color: $blue-itzaez;
    text-align: center;
    margin: rem(24px) 0;
  }
  &__text {
    font-size: rem(16px);
    line-height: 145%;
    letter-spacing: em(1px);
    color: $text-color;
    text-align: center;
  }
  @include media-query(md) {
    width: calc((100% - 80px) / 2);
    margin: 0;
    margin-bottom: rem(48px);
    &:last-child {
      width: 90%;
    }
  }
  @include media-query(lg) {
    width: calc((100% - 80px) / 3);
    &:last-child {
      width: calc((100% - 80px) / 3);
    }
  }
  @include media-query(xl) {
    // max-width: 320px;
  }
}

.card-ahorro {
  width: 90%;
  padding: rem(24px) rem(16px);
  box-shadow: 0 0 24px rgba(#2E3191, .1);
  margin: 0 auto;
  margin-bottom: rem(48px);
  position: relative;
  &__icon {
    img {
      display: block;
      width: 120px;
      height: auto;
      margin: 0 auto;
    }
  }
  &__title {
    color: $blue-itzaez;
    text-align: center;
    margin: rem(24px) 0;
  }
  &__text {
    font-size: rem(16px);
    line-height: 145%;
    letter-spacing: em(1px);
    color: $text-color;
    text-align: center;
    margin-bottom: rem(16px);
  }
  &__link-terms {
    display: block;
    width: 50%;
    text-align: center;
    font-size: rem(12px);
    color: $blue-itzaez;
    position: absolute; bottom: 15px; right: 0; left: 0;
    margin: 0 auto;
    text-decoration: none;
    &:hover {
      opacity: .7;
    }
  }
  @include media-query(md) {
    &:last-child {

    }
  }
  @include media-query(lg) {
    width: calc((100% - 80px) / 3);
    &:last-child {
      width: 60%;
    }
  }
  @include media-query(xl) {
    &:last-child {

    }
  }
}