@use '../utilities/' as *;

.sucursales {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  margin-top: rem(48px);
}

.accordeon {
  background-color: #ffffff;
  box-shadow: 0 0 24px rgba($blue-itzaez, .1);
  &__ul {
    list-style: none;
  }
  &__item {

  }
  &__link {
    display: block;
    text-decoration: none;
    color: $orange-itzaez;
    font-weight: 700;
    padding: 15px 20px;
    border-bottom: 1px solid #D6D6D6;
    position: relative;
    letter-spacing: em(1px);
    line-height: 150%;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    span {
      position: absolute;
      right: 10px; top: 30%;
      font-size: rem(18px);
      color: $blue-itzaez;
    }
  }
  &__container {
    background-color: $gray-back;
    padding: 20px 15px;
    display: none;
    @at-root &--mobile {
      display: none;
    }
  }
  &__text {
    @include text();
  }
  @include media-query(lg) {
    &__link {
      padding-right: 0;
      span {
        position: absolute;
        right: 10px;
      }
    }
  }
}

.sucursales-info {
  &__item {
    margin-bottom: rem(16px);
    &:last-child {
      margin-bottom: 0;
    }
  }
  .address {
    p {
      color: $text-color;
      position: relative;
      padding-left: rem(24px);
      font-size: rem(18px);
      &::before {
        content: "\f3c5";
        font-family: 'Font Awesome 6 Free';
        font-weight: 900;
        font-size: rem(20px);
        display: inline-block;
        margin-right: rem(8px);
        color: $blue-itzaez;
        position: absolute;
        left: 0; top: 0;
      }
    }
  }
  .phone {
    a {
      display: block;
      text-decoration: underline;
      color: $orange-itzaez;
      font-weight: 700;
      font-size: rem(18px);
      position: relative;
      padding-left: rem(24px);
      &::before {
        content: "\f095";
        font-family: 'Font Awesome 6 Free';
        font-weight: 900;
        font-size: rem(20px);
        display: inline-block;
        margin-right: rem(8px);
        color: $blue-itzaez;
        position: absolute;
        left: 0; top: 0;
      }
    }
  }
  .google {
    a {
      display: block;
      text-decoration: none;
      color: $blue-itzaez;
      font-weight: 700;
      font-size: rem(18px);
      position: relative;
      padding-left: rem(24px);
    }
  }
  @include media-query(md) {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    &__item {
      flex-basis: 30%;
      @at-root &.address {
        flex-basis: 50%;
      }
      @at-root &.phone {

      }
      @at-root &.google {

      }
    }
    .google {
      display: flex;
      justify-content: center;
      a {
        padding-left: 0;
      }
    }
    .phone {
      display: flex;
      justify-content: center;
      a {
      }
    }
  }
}