@use '../utilities/' as *;

.services-section {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column-reverse;
  overflow-y: hidden;
  &__left {
    width: 100%;
  }
  &__right {
    width: 100%;
    height: auto;
  }
  @include media-query(lg) {
    flex-flow: row;
    &__left {
      width: 48%;
    }
    &__right {
      width: 52%;
      position: relative;
      &::before {
        content: "";
        display: block;
        width: 100%;
        height: 30px;
        background-color: #ffffff;
        position: absolute;
        top: -1px; left: 0;
      }
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 30px;
        background-color: $red-itzaez-dark;
        position: absolute;
        bottom: -1px; left: 0;
      }
    }
  }
}