@use '../utilities/' as *;

.main-header {
  padding: 1rem 0;
  width: 100%;
  position: relative;
  &--container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
  }
  &--logo {
    width: 220px;
    a {
      display: block;
    }
    .logo-menu-itzaez {
      display: block;
      width: 100%;
    }
  }
  &--menu-bars {
    display: flex;
  }
  &--menu {
    position: absolute;
  }

  @include media-query(md) {
    &--container {
      max-width: 720px;
    }

  }

  @include media-query(lg) {
    &--container {
      padding: 0;
      max-width: 960px;
    }
    &--logo {
      width: 300px;
    }
    &--menu-bars {
      display: none;
    }
    &--menu {
      position: static;
    }
  }

  @include media-query(xl) {
    &--container {
      max-width: 1200px;
    }
  }

  @include media-query(xxl) {
    &--container {
      max-width: 1320px;
    }
  }
  
}

.icon-bars {
  width: 48px;
  height: 45px;
  flex-wrap: wrap;
  align-items: space-between;
  &--bar {
    display: block;
    width: 45px;
    height: 5px;
    background-color: $blue-itzaez;
  }
}