
@use 'functions' as *;

// ===== ///// MEDIA QUERIES ///// ===== //

$breakpoints: (
  sm: rem(560px),
  md: rem(768px),
  lg: rem(992px),
  xl: rem(1200px),
  xxl: rem(1400px)
);

@mixin media-query($breakpoint) {
  @if map-has-key($breakpoints,$breakpoint) {
    @media screen and (min-width: map-get($breakpoints,$breakpoint)) {
      @content;
    }
  } @else {
    @media screen and (min-width: $breakpoint) {
      @content;
    }
  }
};