
// ===== ///// colors ///// ===== //

$blue-itzaez: #2E3191;
$orange-itzaez: #F48120;
$red-itzaez: #A52A30;
$red-itzaez-dark: #8E2429;
$text-color: #1A1818;
$text-input: #c4c4c4;
$text-input-fill: #8d8d8d;
$gray-back: #F5F5F5;

$error: #ff6e6e;
$ok: #55C172;

// ===== ///// tipography ///// ===== //

